<div class="container">

  <div class="header">
    <h4 class="text-muted">Equal width</h4>
    <hr>
  </div>

  <p class="text-center">
    <code>class="col"</code>
  </p>

  <div class="row">
    <div class="col">
      <code>col</code>
    </div>
    <div class="col">
      <code>col</code>
    </div>
    <div class="col">
      <code>col</code>
    </div>
    <div class="col">
      <code>col</code>
    </div>
  </div>

  <div class="header">
    <h4 class="text-muted">Responsive breakpoints</h4>
    <hr>
  </div>

  <p class="text-center">
    <code>class="col-[1-12]"</code>
  </p>

  <div class="row">
    <div class="col-2">
      <code>col-2</code>
    </div>
    <div class="col-4">
      <code>col-4</code>
    </div>
    <div class="col-2">
      <code>col-2</code>
    </div>
    <div class="col-4">
      <code>col-4</code>
    </div>
  </div>

  <p class="text-center">
    <code>class="col-[sm|md|lg|xl]-[1-12]"</code>
  </p>

  <div class="row">
    <div class="col col-lg-3">
      <code>col col-lg-3</code>
    </div>
    <div class="col col-lg-2">
      <code>col col-lg-2</code>
    </div>
    <div class="col col-lg-2">
      <code>col col-lg-2</code>
    </div>
    <div class="col col-lg-5">
      <code>col col-lg-5</code>
    </div>
  </div>

  <div class="header">
    <h4 class="text-muted">Offset</h4>
    <hr>
  </div>

  <p class="text-center">
    <code>class="offset-[sm|md|lg|xl]-[1-12]"</code>
  </p>

  <div class="row">
    <div class="col-4 offset-3"><code>col-4 offset-3</code></div>
    <div class="col-4 offset-1"><code>col-4 offset-1</code></div>
  </div>
</div>
