<div class="container">
  <div class="header">
    <h4 class="text-muted">Flex</h4>
    <hr>
  </div>

  <p class="text-center">
    <code>class="d-flex"</code>
  </p>

  <div class="d-flex">
    <div>👷‍♀️</div>
    <div>👨‍🔧</div>
    <div>👩‍🎨</div>
    <div>🧝</div>
    <div>👮‍♀️</div>
  </div>

  <div class="header">
    <h4 class="text-muted">Direction</h4>
    <hr>
  </div>

  <div class="row">
    <div class="col">
      <p class="text-center">
        <code>class="d-flex flex-row"</code>
      </p>

      <div class="d-flex flex-row">
        <div>👷‍♀️</div>
        <div>👨‍🔧</div>
      </div>
    </div>
    <div class="col">
      <p class="text-center">
        <code>class="d-flex flex-row-reverse"</code>
      </p>

      <div class="d-flex flex-row-reverse">
        <div>👷‍♀️</div>
        <div>👨‍🔧</div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <p class="text-center">
        <code>class="d-flex flex-column"</code>
      </p>

      <div class="d-flex flex-column height-xl">
        <div>👷‍♀️</div>
        <div>👨‍🔧</div>
      </div>
    </div>
    <div class="col">
      <p class="text-center">
        <code>class="d-flex flex-column-reverse"</code>
      </p>

      <div class="d-flex flex-column-reverse height-xl">
        <div>👷‍♀️</div>
        <div>👨‍🔧</div>
      </div>
    </div>
  </div>

  <div class="header">
    <h4 class="text-muted">Justify content</h4>
    <hr>
  </div>

  <p class="text-center">
    <code>class="d-flex justify-content-[start|end|center|<b>between</b>|around]"</code>
  </p>

  <div class="d-flex justify-content-between">
    <div>👷‍♀️</div>
    <div>👨‍🔧</div>
    <div>👩‍🎨</div>
    <div>🧝</div>
    <div>👮‍♀️</div>
  </div>

  <div class="header">
    <h4 class="text-muted">Align items</h4>
    <hr>
  </div>

  <p class="text-center">
    <code>class="d-flex align-items-[start|end|<b>center</b>|baseline|stretch]"</code>
  </p>

  <div class="d-flex align-items-center height-lg">
    <div>👷‍♀️</div>
    <div>👨‍🔧</div>
    <div>👩‍🎨</div>
    <div>🧝</div>
    <div>👮‍♀️</div>
  </div>
</div>

