<div class="container">
  <div class="header">
    <h4 class="text-muted">Media queries</h4>
    <hr>
  </div>

  <p>👀 Resize the screen and notice how the background changes</p>
  <p class="text-center">
    <code class="d-xs-block d-sm-none">xs</code>
    <code class="d-none d-sm-block d-md-none">sm</code>
    <code class="d-none d-md-block d-lg-none">md</code>
    <code class="d-none d-lg-block d-xl-none">lg</code>
    <code class="d-none d-xl-block">xl</code>
  </p>

  <div class="container"></div>
</div>
