<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="#">Bootstrap Grid Overview</a>

  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/containers']">Containers</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/mediaqueries']">Media Queries</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/columns']">Columns</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/flex']">Flex</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
